:root {
  --color-fg: #181b1f;
  --color-bg: #fff1d6;

  /* black */
  --color-0: #31373d;
  --color-8: #757d85;

  /* red */
  --color-1: #f55c45;
  --color-9: #f58c31;

  /* green */
  --color-2: #afb833;
  --color-10: #d6d66f;

  /* yellow */
  --color-3: #ebb242;
  --color-11: #ffd37a;

  /* blue */
  --color-4: #5fb8b8;
  --color-12: #92d6d6;

  /* magenta */
  --color-5: #cc7ab1;
  --color-13: #eba0d2;

  /* cyan */
  --color-6: #6eb89f;
  --color-14: #92d6bf;

  /* white */
  --color-7: #9aaab8;
  --color-15: #d8e2eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fff1d6;
    --color-bg: #181b1f;
  }
}

:root {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Georgia;
}

body {
  padding: 0 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: clamp(320px, 75%, 1200px);
}
